<h2> Gossip by <%= @gossip.user.username %> </h2>

<p> <%= @gossip.content %> </p>

<% if current_user == @gossip.user %>

<p> <%= link_to "Editer mon gossip", edit_gossip_path %> </p> 

<% end %>

<p> <%= link_to "Voir tous les gossips", gossips_path %> </p> 
