<footer class="footer">
  <small>
    The <a href="https://github.com/plataformatec/devise">Gossip_devise app</a>
    by <a href="https://github.com/nicolasroulleau">Nicolas Roulleau</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Allez", '#' %></li>
      <li><%= link_to "les", '#' %></li>
      <li><%= link_to "bleus", '#' %></li>
    </ul>
  </nav>
</footer>